<div class="hd">
	<h1>Projects</h1>
</div>

<div class="bd">
<%- @trackables.each do |trackable| -%>
<% content_tag_for :div, trackable do %>
	<h3>
		<strong class="name"><%= link_to trackable, trackable_events_path(trackable) %></strong>
		<%= trackable_nickname(trackable) %>
	</h3>
	<h4><%= pluralize(trackable.events.count, "event") %></h4>
<% end %>
<% end %>
</div>