<div class="hd calendar-hd">
	<p class="back"><%= link_to "&lsaquo; Projects", trackables_path %></p>
	<h1>Create new project</h1>
</div>

<%= flash_message %>

<div class="ws-frame">
	<div class="ws-main" id="ws-main">
		<%= render :partial => 'edit' %>
	</div>
	
	<div class="ws-sidebar">
		<div class="guide">
			<h2>What is a project?</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</div>
</div>
