<% current_range.to_a.each do |date| %>

<% events_for_day(date) do |events| %>
<div class="one left">
	<h3 class="date_header <%= date.strftime("%a").downcase %>">
		<span class="weekday"><%= date.strftime("%a") %></span>
		<span class="day"><%= date.to_s(:short) %></span>
	</h3>
</div>

<div class="eight right">
<%= render :partial => 'list_item', :collection => events, :as => :event %>

<div class="no-events">
Nothing happened today
</div>
</div>
<hr class="date-separator" style="clear:both">

<% end %>

<% end %>