/* @override 
	http://practical.ticktock.local:3000/stylesheets/default.css
	http://www.ticktock.local:3000/stylesheets/default.css
*/

@import url(lib/reset.css);
@import url(lib/datepicker.css);

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 0;
	margin: 0;
}

body, html {
	background: #e5e5dc;
}

#container {
	width: 960px;
	margin: 10px auto;
}

#header {
	background: #f4f4eb;
	padding: 1px;
}

#header .wrap {
	width: 920px;
	padding: 10px 10px 6px;
	margin: 0 auto;
	position: relative;
}

#header .current_user {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 11px;
}

#main {
	width: 940px;
	margin: 0 auto;
}

#workspace {
	background: #fff;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
	border-bottom: 8px solid #deebdb;
}

.workspace-title {
	background: #f1ffe9;
	padding: 8px 10px;
	position: relative;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.workspace-title h2 {
	font: 19px Georgia;
	margin: 0;
}

#footer {
	background: #d1d1c9;
	margin: 16px 0 40px;
	padding: 10px 20px;
	-webkit-border-radius: 12px;
	color: #777;
}

#main_navigation li {
	margin: 6px 10px 0 0;
	background: #000;
	color: #fff;
}

#main_navigation span {
	display: block;
	padding: 6px 20px;
}

#main_navigation a {
	background: #e5e5e5;
	color: #666;
	display: block;
	text-decoration: none;
}

#main_navigation a:hover {
	background: #ccc;
}

a:link, a:visited {
	color: #c00;
}

hr {
	border: 0;
	height: 1px;
}

a:hover {
	text-decoration: underline !important;
}

/* @group Grid Layout */

.one    { width: 60px;  }
.two    { width: 140px; }
.three  { width: 220px; }
.four   { width: 300px; }
.five   { width: 380px; }
.six    { width: 460px; }
.seven  { width: 540px; }
.eight  { width: 620px; }
.nine   { width: 700px; }
.ten    { width: 780px; }
.eleven { width: 860px; }
.twelve { width: 940px; }

.left   { float: left;  }
.right  { float: right; }
.clear  { clear: both;  }

/* @end */



/* @group Events List View */



#calendar_nav p.nav {
	position: absolute;
	right: 10px;
	top: 12px;
}

#calendar_nav p.nav .sep {
	color: #ccc;
}

/* @group Event list actions */

.event_actions {
	white-space: nowrap;
}

.event_actions a {
	color: #c00;
	float: left;
	position: relative;
	padding: 6px 2px;
}

.event_actions a.delete {
	background: url(../images/trash.gif) no-repeat center center;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
	top: -2px;
}

.event_actions a.edit {
	padding-left: 2px;
	padding-right: 2px;
}

/* @end */

/* @group Events for calendar view */

.events_for_day {
	padding: 10px 20px 0;
}

.events_for_day .date_header {
	margin: 0 0 20px;
}

.events_for_day .date_header span {
	padding: 4px 4px 2px 20px;
	border-bottom: 1px solid #888;
	font-size: 13px;
	font-weight: bold;
	color: #444;
	margin-left: -20px;
}

.events_for_day ul {
	margin: 0 0 0 18px;
	padding: 0 0 6px;
}

.events_for_day li {
	list-style-type: square;
	position: relative;
	margin: 0 0 6px 0;
	font-size: 18px;
	color: #ccc;
}

.events_for_day li p.event_body {
	color: #555;
}

.events_for_day li a.tag {
	text-decoration: none;
}

.events_for_day li .event_subject {
	font-weight: bold;
	font-size: 15px;
	margin-right: 2px;
	position: relative;
	top: -1px;
}

.events_for_day li .event_subject a {
	color: #000;
	text-decoration: none;
}

.events_for_day li .event_actions {
	position: absolute;
	left: -70px;
	top: -2px;
	font-size: 11px;
	background: #fff;
	padding-left: 4px;
	display: none;
}

.events_for_day li.hover .event_actions {
	display: block;
}

.events_for_day li span.hover_target {
	padding-left: 24px;
	margin-left: -24px;
}

.events_for_day .no-events {
	color: #b9b9b9;
	display: none;
	font-size: 17px;
	list-style-type: square;
	margin-left: -18px;
}

.events_for_day.empty .no-events {
	display: block;
}

/* @end */

.pagination {
	padding: 10px 10px 20px;
	margin: 10px 10px 0;
	border-top: 2px solid #d4d4d4;
}

.pagination span.disabled {
	color: #999;
}

.pagination .sep {
	color: #999;
}

.pagination a {
	color: #c00;
}

/* @end */


#quick_entry_form {
	background: #f5f5f5;
	padding: 10px;
	margin: 20px 10px;
	width: 620px;
}

#quick_entry_form table {
	width: 100%;
}

#quick_entry_form table td {
	position: relative;
}

#quick_entry_form textarea {
	height: 60px;
	width: 380px;
}

#quick_entry_form label {
	font-size: 11px;
	color: #666;
	padding-right: 10px;
}

#quick_entry_form .ghost {
	color: #ccc;
	display: block;
	padding: 4px;
	font-size: 15px;
}

#quick_entry_form input {
	font-size: 17px;
	width: 140px;
}

/*#quick_entry_form .body label {
	display: block;
	font-size: 15px;
	position: absolute;
	padding: 5px;
	color: #ccc;
}

*/

#quick_entry_form td {
	padding-bottom: 4px;
}


#new_event {
}

#quick_entry_container {
	position: relative;
}

#quick_entry {
	padding: 0px 20px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #000;
	background-color: rgba(255,255,204,0.9);
	z-index: 200;
	color: #000;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2)
}

#quick_entry #basics {
	padding-top: 20px;
}

#quick_entry #options {
	border-bottom: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;
	width: 100%;
}

#quick_entry #options > p {
	float: left;
	margin: 5px 0 0px 10px;
	display: block;
}

#quick_entry #options > p.datepicker {
	padding: 5px 0;
}

#quick_entry #options input {
	font-size: 17px;
}

#quick_entry #options .ghost {
	color: #ccc;
	font-size: 17px;
	line-height: 12px;
	padding-left: 5px;
	padding-top: 0px;
}

#quick_entry fieldset {
	background: transparent;
	/*color: #fff;*/
	padding: 0;
	margin: 0;
	border: none;
}

#quick_entry .actions {
	text-align: right;
	padding: 0 0 10px;
}

#new_event.on_index textarea {
	width: 100%;
}

#new_event label {
	width: auto;
	display: block;
	float: none;
	padding-bottom: 2px;
	padding-top: 0;
}

#new_event .field {
	padding: 0;
	margin: 0;
	border: 0;
}

.field {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.field label {
	width: 110px;
	float: left;
	color: #666;
	text-transform: uppercase;
	font-size: 11px;
	padding-top: 3px;
}

.field > p {
	margin-left: 110px;
	padding-top: 2px;
}

fieldset {
	padding: 10px;
	border: 1px solid #d4d4d4;
	margin: 1em 0;
	background: #fff;
}

fieldset legend {
	background: #fff;
	padding: 2px 8px;
	position: relative;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

p.checkbox {
	background: #d4d4d4;
	padding: 10px;
}

.field.datepicker label {
	display: inline;
	width: auto;
	padding-right: 10px;
	padding-top: 1px;
}




table.month_grid {
	margin: 20px 0;
}

.month_grid td {
	background: #f5f5f5;
	border: 2px solid #fff;
	width:  14px;
	height: 14px;
}

.month_grid td.currentmonth {
	background: #ccc;
}

/*.month_grid td.in_range {
	background: #def;
}

.month_grid td.today {
	background: #f2f2b6;
}*/

.month_grid .header_row th {
	padding: 2px 0;
	text-align: center;
	font-weight: bold;
	color: #ccc;
	font-size: 10px;
}

.month_grid .day_of_month {
	display: block;
	text-align: right;
	font-size: 9px;
	font-weight: bold;
	display: none;
}

.month_grid .event_count {
	display: none;
}

.month_grid .currentmonth .event_count {
	background: #8b97af;
	display: block;
	height: 14px;
	width: 14px;
	text-indent: -9999px;
}

.month_grid .events-3 .event_count {
	background-color: #59657b;
}

.month_grid .events-more .event_count {
	background-color: #001132;
}

/*.month_grid .events-1 .event_count {
	background-color: #8e9ab2;
}



.month_grid .events-2 .event_count {
	background-color: #4c5d7f;
}

.month_grid .events-3 .event_count {
	background-color: #071e4c;
}

.month_grid .events-more .event_count {
	background-color: #001132;
}*/

#timer {
	position: relative;
	background: #8eb100;
	color: #fff;
	/*width: 300px;*/
	overflow: auto;
	margin-bottom: 20px;
}

#timer h4 {
	background: #45551f;
	padding: 7px 10px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
}

#timer .body {
	padding: 6px 100px 4px 10px;
	font-size: 15px;
	float: left;
}

#timer #seconds {
	float: right;
	margin: 0;
	font-size: 19px;
	padding: 3px 8px 4px;
}

