/* @override 
	http://practical.ticktock.local:3000/stylesheets/default.css
	http://www.ticktock.local:3000/stylesheets/default.css
	http://practical.tt.local.practical.cc:3000/stylesheets/default.css
*/

@import url(shared.css);
@import url(lib/datepicker.css);

/* @group Header */

#header {
	background: #fff;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 0 #d4d4d4;
}

#header .wrap {
	margin: 0 auto;
	position: relative;
}

#header .current_user {
	position: absolute;
	top: 10px;
	right: 1.04%;
	font-size: 11px;
}

#header h1,
#header ul,
#header li {
	float: left;
}

#header h1 {
	padding: 9px 10px 9px;
	font-weight: bold;
	color: #666;
}

#header ul {
	padding-top: 4px;
	padding-left: 10px;
}

#header li {
	margin-left: 2px;
	background: #f5f5f5;
}

#header li a,
#header li span {
	display: block;
}

#header li a {
	background: #6680dc;
	color: #172c76;
	text-decoration: none;
}

#header li span {
	padding: 6px 10px;
}

/* @end */

/* @group Stretcher */



/* @group Workspace */

#stretcher td#workspace {
	background: #fff;
	width: 83%;
	min-height: 400px;
	border-bottom: 2px solid #d4d4d4;
}


#workspace .hd {
	background: #b00;
	border: 0;
	padding: 0;
	position: relative;
}

#workspace .hd h1 {
	padding: 25px 20px 8px;
	font-family: 'American Typewriter', Georgia;
	color: #fff;
	text-shadow: 1px 1px 1px #800;
	font-size: 22px;
}

#workspace .hd .back {
	padding: 4px 10px 0;
	font-size: 11px;
	position: absolute;
	left: 10px;
	top: 6px;
}

#workspace .hd a {
	text-decoration: none;
	color: #fff;
}

/* @end */

/* @group Sidebar */

#stretcher td#sidebar {
	padding-top: 20px;
	width: 17%;
	background: url(../images/bg-shadow-trans.png) repeat-y right 0;
}

#sidebar .nav li {
	margin: 4px 0 0 0;
}

#sidebar .nav a,
#sidebar .nav span {
	padding: 4px 10px;
	display: block;
	color: #c00;
	border-right: 0;
}

#sidebar .nav span {
	font-weight: bold;
	background: #aaa;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

#sidebar #add-event {
	padding: 0px;
}

#sidebar .nav .big a,
#sidebar .nav .big span {
	font-size: 17px;
}

#sidebar .nav .quick a,
#sidebar .nav .quick span {
	font-size: 12px;
	font-weight: bold;
}

#sidebar hr {
	background: #bbb;
	margin: 10px 0;
}

/* @end */

/* @end */

/* @group Footer */

#footer {
	border-top: 2px solid #d4d4d4;
	margin-top: 20px;
	padding: 10px 0 50px;
}

#footer > .logo {
	float: left;
	width: 17%;
}

#footer > .logo h4 {
	padding: 0 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #666;
}

#footer > .copyright {
	margin-left: 17%;
	padding: 0 0px;
	color: #999;
}

#footer > .copyright p {
	padding: 0px 0px;
}

/* @end */

/* @group Quick Entry */

#quick-entry {
	left: 88px;
	top: 22px;
	position: absolute;
	z-index: 99;
	width: 480px;
	background: rgba(216,216,216,0.9);
	border: 2px solid #4a4a4a;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

#quick-entry .arrow {
	position: absolute;
	left: -16px;
	top: 12px;
	width: 14px;
	height: 60px;
	background: url(../images/darkgray-arrow-left.png) no-repeat left center;
}

#quick_entry_form {
	position: relative;
	-webkit-border-radius: 6px;
	border: 1px solid #fff;
}

#quick_entry_form .bd {
	padding: 10px;
	border-top: 1px solid #666;
}

.qe-datepager {
	padding: 0;
}

.qe-datepager .tab {
	float: left;
	margin-right: 2px;
	background-color: #dbe7f4;
	position: relative;
	z-index: 99;
	font-size: 12px;
}

.qe-datepager a.tab,
.qe-datepager .tab > a {
	display: block;
	padding: 4px 8px;
	text-decoration: none;
	color: #727272;
}

.qe-datepager .tab.other > a,
.qe-datepager .tab.selected.other a {
	padding-left: 25px;
	padding-right: 10px;
	background: url(../images/calendar-silver.gif) no-repeat 10px center;
}

.qe-datepager a.tab.selected,
.qe-datepager .tab.selected a {
	color: #fff;
	background: #444 url(../images/check.gif) no-repeat 10px center;
	padding-left: 22px;
	padding-right: 10px;
}

.qe-datepager .tab.selected.other a {
	background-color: #444;
	background-image: url(../images/calendar-orange.gif);
}

#quick_entry_form table.bnd {
	width: auto;
}

#quick_entry_form table.bnd td {
	position: relative;
}

#quick_entry_form label {
	font-size: 11px;
	color: #666;
	padding-right: 10px;
}

#quick_entry_form .ghost {
	color: #becacf;
	display: block;
	padding: 5px 4px;
	font-size: 13px;
}

#quick_entry_form input,
#quick_entry_form textarea {
	font-size: 17px;
	width: 100%;
}

#quick_entry_form .bnd .body {
	width: 70%;
	padding-right: 2.08%;
}

#quick_entry_form .duration {
	width: 20%;
}

#quick_entry_form .bnd .action {
	padding-left: 10px;
}

#quick_entry_form .calendar_date_select {
	position: absolute;
	z-index: 90;
}

#quick_entry_form td {
	padding-bottom: 4px;
}

#quick_entry_form .actions {
	position: absolute;
	right: -4px;
	top: 40px;
	width: 73px;
	height: 30px;
}

#quick_entry_form #expand_options,
#quick_entry_form #collapse {
	font-size: 11px;
	padding: 5px 0;
}

#quick_entry_form #options {
	border: 1px solid #d4d4d4;
	border-width: 0 0 1px 1px;
	padding: 0 0 10px 10px;
}

/* @end */


table.frame .sidebar > p.actions {
	padding: 10px;
	text-align: center;
	background: #def;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 10px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

a.add {
	color: #468c1c;
	background: url(../images/plus-16-green.png) no-repeat left center;
	padding: 2px 0 2px 22px;
}
