/* @override http://practical.ticktock.local:3000/stylesheets/default2.css */

@import url(lib/reset.css);
@import url(lib/fonts.css);
@import url(lib/forms.css);

body, html {
	background: #f;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size:   13px;
	color: #444;
}

a, a:link, a:visited {
	color: #d20;
}

hr {
	border: 0;
	width: 1px;
	height: 1px;
}

/* @group Core Layout */

.wr, .wr-c { margin: 0 auto; }
.wr   { width: 960px; min-width: 860px; }
.wr-c { width: 97.91%; }

.left  { float: left;  }
.right { float: right; }

.cf:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.cf {display:inline-block;}
/* Hide from IE Mac \*/
.cf {display:block;}
/* End hide from IE Mac */

/* @group FrameMaker */

.ws-frame { padding: 8px 0; }
.ws-frame table { height: 200px; width: 100%; }
.ws-sidebar { width: 220px; }
.f-gutter { width: 8px; }

.ws-sidebar {
	float: right;
}

.ws-main {
	float: left;
	width: 480px;
}

.f-main .ws-main {
	float: none;
	width: auto;
}

/* @end */

/* @end */

#overlay {
	background: #000;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 990;
	opacity: 0.2;
}

/* @group Header */

#header {
	background: #f5f5f5;
	margin-bottom: 8px;
	border-bottom: 1px solid #999;
}

#header .left,
#header .right {
	padding: 10px;
}

#header h1 {
	font-weight: bold;
	font-size: 15px;
	color: #000;
}

/* @end */


#footer {
	border-top: 2px solid #ccc;
	margin-top: 20px;
	padding-bottom: 80px;
}

#footer > * {
	padding: 10px;
}

#left-sidebar {
	width: 150px;
	float: left;
	position: relative;
}

#left-sidebar .nav {
	position: absolute;
	left: 0;
	top: 40px;
	width: 140px;
}

#left-sidebar .nav h2 a {
	background: #fff;
	display: block;
	padding: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	color: #999;
}

#left-sidebar .nav li a {
	display: block;
	background: #ccc;
	margin-bottom: 2px;
	padding: 4px 10px;
}

#left-sidebar .nav .current a {
	background: black;
	color: #fff;
}

#workspace {
	margin-left: 160px;
	min-height: 300px;
}

#workspace .hd {
	background: #fff;
	border-bottom: 2px solid #000;
	margin-bottom: 8px;
	position: relative;
}

#workspace .hd h1 {
	font-size: 19px;
	color: #000;
	padding: 10px;
}

