/* @override 
	http://practical.ticktock.local:3000/stylesheets/default.css
	http://www.ticktock.local:3000/stylesheets/default.css
*/

@import url(lib/reset.css);
@import url(lib/datepicker.css);

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 0 10px;
}

#container {
	width: 960px;
	margin: 20px auto;
	/*background: #e5e5e5;*/
}

#main {
	width: 940px;
	margin: 0 auto;
}

/* @group Grid Layout */

.one    { width: 60px;  }
.two    { width: 140px; }
.three  { width: 220px; }
.four   { width: 300px; }
.five   { width: 380px; }
.six    { width: 460px; }
.seven  { width: 540px; }
.eight  { width: 620px; }
.nine   { width: 700px; }
.ten    { width: 780px; }
.eleven { width: 860px; }
.twelve { width: 940px; }

.left   { float: left;  }
.right  { float: right; }
.clear  { clear: both;  }

/* @end */



/* @group Events List View */

#calendar_nav {
	border-bottom: 2px solid #000;
	margin-bottom: 16px;
	text-align: center;
	position: relative;
	padding: 0 0 20px;
}

#calendar_nav .center {
	display: inline;
	padding: 0 30px;
	position: relative;
}

#calendar_nav strong {
	font-weight: bold;
	text-align: center;
	font-size: 19px;
	padding-bottom: 12px;
	display: inline;
}

#calendar_nav .next,
#calendar_nav .previous {
	position: absolute;
	top: -4px;
	background: #990;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
}

#calendar_nav .previous {
	left: 0;
}

#calendar_nav .next {
	right: 0;
}

#calendar_nav .current {
	position: absolute;
	left: 0;
}

#events_list {
	padding-bottom: 50px;
}

#events_list .date-separator {
	background: #fff;
	border: 0;
	border-bottom: 2px solid #d4d4d4;
	height: 10px;
	margin: 0 0 10px;
	clear: both;
}

#events_list .date_header {
	font-size: 17px;
	padding: 10px 4px 6px;
	text-align: center;
	background: #e5e5e5;
	line-height: 21px;
	color: #fff;
	-webkit-border-radius: 12px;
	-webkit-border-top-left-radius: 0
}

#events_list .date_header.mon {
	background: #d00;
}

#events_list .date_header.tue {
	background: #dc8c2a;
}

#events_list .date_header.wed {
	background: #dec533;
}

#events_list .date_header.thu {
	background: #93d32d;
}

#events_list .date_header.fri {
	background: #45aeda;
}

#events_list .date_header.sat {
	background: #4934dc;
}

#events_list .date_header.sun {
	background: #953adc;
}

#events_list .date_header .weekday {
	/*display: block;*/
	padding-bottom: 4px;
	padding-right: 3px;
	font-size: 27px;
	font-family: 'American Typewriter';
}

#events_list .date_header .day {
	word-spacing: -2px;
}

#events_list .event {
	padding: 1em 0 1em 10px;
	position: relative;
	background: #fff;
}

#events_list .event + .event {
	border-top: 1px solid #e5e5e5;
}

#events_list .no-events {
	
	padding: 10px;
	color: #d4d4d4;
	display: none;
	font-size: 17px;
}

#events_list .empty .no-events {
	display: block;
}

#events_list .event .blank {
	display: none;
}

#events_list .event .date {
	font-weight: bold;
}

#events_list .event .hours {
	position: absolute;
	right: 8px;
	background: #06c;
	color: #fff;
	padding: 2px;
	top: 1em;
	width: 70px;
	text-align: center;
	margin-top: -2px;
	
	-webkit-border-radius: 4px;
}

/*#events_list .event .hours.blank {
	display: block;
	background: #fff;
}*/

#events_list .event .body {
	position: relative;
	top: -2px;
	font-size: 15px;
	line-height: 19px;
	max-width: 400px;
}

#events_list .event .actions {
	position: absolute;
	right: 0px;
	top: 0px;
	padding: 14px 16px;
	background: #f5f5f5;
	text-align: right;
	width: 100px;
	display: none;
}

#events_list .event:hover .actions {
	display: block;
}

/* @end */


#new_event.on_index textarea {
	width: 200px;
}

.field {
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
}

.field label {
	width: 110px;
	float: left;
	color: #666;
	text-transform: uppercase;
	font-size: 11px;
	padding-top: 3px;
}

.field > p {
	margin-left: 110px;
	padding-top: 2px;
}

fieldset {
	padding: 10px;
	border: 1px solid #d4d4d4;
	margin: 1em 0;
	background: #fff;
}

fieldset legend {
	background: #fff;
	padding: 2px 8px;
	position: relative;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}

p.checkbox {
	background: #d4d4d4;
	padding: 10px;
}

.field.datepicker label {
	display: inline;
	width: auto;
	padding-right: 10px;
	padding-top: 1px;
}

#quick_entry {
	/*background: rgba(0,0,0,0.8);
	border: 6px solid rgba(0,0,0,0.4);
	position: absolute;
	padding: 10px;
	-webkit-border-radius: 16px*/
}

#quick_entry fieldset {
	background: transparent;
	/*color: #fff;*/
	padding: 0;
	border: none;
}
