/* @override http://practical.ticktock.local:3000/stylesheets/events.css */

ul.events {
	padding: 10px 0;
}

ul.events li.event {
	background: #fcfcbb;
	overflow: auto;
	padding: 10px;
	margin-bottom: 4px;
}

ul.events .body {
	margin-right: 130px;
	font-size: 15px;
	line-height: 19px;
	max-width: 540px;
}

ul.events .meta {
	float: right;
	width: 110px;
	text-align: right;
}

ul.events .meta .actions {
	padding-top: 5px;
}

ul.events .date {
	font-size: 75%;
	color: #999;
}

ul.events .duration {
	font-weight: bold;
}

hr.date-separator {
	border: 1px solid #d4d4d4;
	border-width: 1px 0;
	height: 1px;
	width: auto;
}

.dated-events .no-events {
	display: none;
}

.dated-events.empty .no-events {
	display: block;
	color: #d4d4d4;
	text-align: center;
	padding: 4px 0 20px;
}

.dated-events .date-header {
	font-size: 15px;
	padding: 5px 10px;
}

.pagination {
	padding: 5px 10px;
	background: #e5e5e5;
}


table.month_grid {
	width: 200px;
	margin: 0 auto;
	border-collapse: collapse;
}

table.month_grid th,
table.month_grid td {
	vertical-align: top;
}

table.month_grid th {
	text-align: center;
	border-bottom: 1px solid #ccc;
	height: 16px;
	width: 20px;
	vertical-align: middle;
	font-size: 11px;
}

table.month_grid td {
	text-align: right;
	height: 30px;
	border: 1px solid #ccc;
	position: relative;
}

table.month_grid td.in_range {
	background: #def;
}

table.month_grid td a {
	display: block;
	height: 30px;
	width: 28px;
	position: relative;
	text-decoration: none;
}

table.month_grid td a:hover {
	background: #ff0;
}

table.month_grid td a:active {
	background: #a00;
}

table.month_grid .day_of_month {
	display: block;
	font-size: 11px;
	padding: 2px;
	font-weight: bold;
	color: #999;
}

table.month_grid .check {
	background: url(../images/check.gif) no-repeat center center;
	width: 12px;
	height: 12px;
	display: block;
	position: absolute;
	left: 8px;
	bottom: 4px;
}

.month-grid-header {
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 5px;
	font-weight: bold;
}

