/* @override http://practical.ticktock.local:3000/stylesheets/home.css */

/*#home.index .f-side {
	border-left: 1px solid #d4d4d4;
}*/

#home.index .ws-sidebar {
	width: 279px;
	padding-left: 8px;
}

#home.index #new_event {
	padding: 10px;
	background: #faf6d6;
}

#home.index #new_event .instructions {
	font-size: 11px;
	line-height: 15px;
	color: #444;
	padding-top: 5px;
	padding-bottom: 10px;
	width: 78%;
	max-width: 500px;
	float: left;
}

#home.index #new_event .instructions strong {
	font-weight: bold;
}

#home.index #new_event .event_body textarea {
	width: 99.6%;
}

#home.index #new_event .event_body h4 {
	font-size: 15px;
	padding-bottom: 5px;
	color: #000;
}

#home.index #new_event .form-action {
	padding-bottom: 0;
	float: right;
}

.ws-sidebar h2,
.ws-sidebar h3 {
	font-size: 17px;
}

.ws-sidebar h3 {
	padding-top: 20px;
}

.top_tags {
	margin: 20px 0;
	border-top: 1px solid #e7eef6;
	margin-top: 4px;
	font-size: 15px;
}

.top_tags .tag-row {
	position: relative;
	background: #fff;
	border-bottom: 1px solid #e7eef6;
	padding: 4px 8px;
}

.top_tags .tag-row strong,
.top_tags .tag-row .count {
	position: relative;
	z-index: 99;
}

.top_tags .tag-row .count {
	position: absolute;
	right: 8px;
	top: 6px;
	font-weight: bold;
	color: #4f8629;
	font-size: 13px;
}

.t-gb {
	background: #daefc6;
	height: 24px;
	position: absolute;
	left: 0;
	top: 1px;
}

.totals {
	font-size: 13px;
	line-height: 17px;
	margin: 5px 0 20px;
}

.totals strong {
	font-weight: bold;
	color: #000;
	white-space: nowrap;
}

#overlay {
	background: #ccc;
	opacity: 0.3;
}

#instructions {
	width: 500px;
	background: #fff;
	-webkit-box-shadow: 1px 1px 4px #888;
	border: 1px solid #ccc;
	border-right-color: #888;
	border-bottom-color: #888;
	padding: 10px 15px 15px;
}

#instructions .example {
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
}

#instructions .example > strong {
	float: left;
	width: 70px;
	font-weight: bold;
}

#instructions .example > div {
	margin-left: 80px;
}

#instructions .example > div p {
	line-height: 18px;
	font-size: 13px;
}

#instructions .example pre {
	background: #e9f6ff;
	padding: 8px;
	margin: 8px 0;
}

#instructions .close {
	text-align: center;
	padding-top: 10px;
}


#recent-events {
	min-height: 300px;
}

#recent-events .events {
	padding: 10px 0;
}

#recent-events h2 {
	padding: 20px 10px 10px;
	font-size: 17px;
	border-bottom: 1px solid #000;
	color: #000;
}

