/* @override 
	http://practical.ticktock.local:3000/stylesheets/login.css
	http://practical.tt.local.practical.cc:3000/stylesheets/login.css
*/

@import url(lib/reset.css);

body, html {
	background: #e5e5e5 url(../images/bg-pattern.png);
}

body {
	font: 13px/1.5 Helvetica;
}

#container {
	background: #fff;
	width: 400px;
	margin: 20px auto;
	border: 1px solid #ccc;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

h1 {
	background: #b00;
	padding: 22px 20px 5px;
	font-family: 'American Typewriter', Georgia;
	color: #fff;
	text-shadow: 1px 1px 1px #800;
	font-size: 22px;
}

#flash {
	padding: 11px 9px 12px 45px;
	background: #def url(../images/check-24-blue.png) no-repeat 10px center;
	margin: 10px;
	border: 1px solid #a0c2d6;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 15px;
	color: #20668e;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#flash > p {
	max-width: 500px;
	line-height: 18px;
}

#flash.error {
	background-color: #ffedc0;
	background-image: url(../images/!-24-orange.png);
	border-color: #ff9245;
	color: #be342a;
}
fieldset {
	border: 0;
	padding: 0;
}

.field {
	/*background: #f0f;*/
	margin: 0;
	padding: 10px;
}

.field + .field {
	padding-top: 0;
}

.field label {
	float: left;
	width: 90px;
	text-transform: uppercase;
	padding-top: 4px;
	text-align: right;
	padding-right: 10px;
}

.field input {
	font-size: 19px;
	width: 270px;
}

.actions {
	padding: 0px 10px 20px 110px;
}