/* @override 
	http://practical.ticktock.local:3000/stylesheets/shared.css
	http://practical.tt.local.practical.cc:3000/stylesheets/shared.css
*/

@import url(lib/fonts.css);
@import url(lib/reset.css);
@import url(lib/forms.css);
@import url(lib/grids.css);

a:link, a:visited {
	color: #c00;
}

hr {
	border: 0;
	height: 1px;
}

a:hover {
	text-decoration: underline !important;
}

#flash {
	padding: 11px 9px 12px 45px;
	background: #def url(../images/check-24-blue.png) no-repeat 10px center;
	margin: 10px;
	border: 1px solid #a0c2d6;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	font-size: 15px;
	color: #20668e;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

#flash > p {
	max-width: 500px;
	line-height: 18px;
}

#flash.error {
	background-color: #ffedc0;
	background-image: url(../images/!-24-orange.png);
	border-color: #ff9245;
	color: #be342a;
}


body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 0;
	margin: 0;
}

body, html {
	background: #e5e5e5 url(../images/bg-pattern.png);
}

#container {
	width: 100%;
	margin: 10px auto;
}

#main, .wrap {
	width: 97.92%;
	margin: 0 auto;
	position: relative;
}



.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

table#stretcher {
	width: 100%;
}