/* @override http://practical.ticktock.local:3000/stylesheets/shared.css */

@import url(lib/fonts.css);
@import url(lib/reset.css);
@import url(lib/forms.css);
@import url(lib/grids.css);

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 0;
	margin: 0;
}

body, html {
	background: #e5e5e5;
}

#container {
	width: 960px;
	margin: 10px auto;
	background: url(../images/bg-grid.png);
}

#main, .wrap {
	width: 940px;
	margin: 0 auto;
	position: relative;
}



#footer {
	background: #d1d1c9;
	margin: 16px 0 40px;
	padding: 10px 2.08%;
	-webkit-border-radius: 12px;
	color: #777;
}

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */

table#stretcher {
	width: 100%;
}