@import url(lib/fonts.css);
@import url(lib/reset.css);
@import url(lib/forms.css);
@import url(lib/grids.css);

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	padding: 0;
	margin: 0;
}

body, html {
	background: #e5e5dc;
}

#container {
	width: 100%;
	min-width: 800px;
	margin: 10px auto;
}

#main {
	width: 97.92%;
	margin: 0 auto;
}

#footer {
	background: #d1d1c9;
	margin: 16px 0 40px;
	padding: 10px 2.08%;
	-webkit-border-radius: 12px;
	color: #777;
}

.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */