/* @override 
	http://practical.ticktock.local:3000/stylesheets/signup.css
	http://practical.ticktock.local/stylesheets/signup.css
*/

@import url(shared.css);

html, body {
	background-color: #fff;
	background-image: none;
}

body#signup #container {
	width: 960px;
	margin: 20px auto;
}

body#signup #main {
	width: 620px;
}

body#signup #footer {
	width: 620px;
	padding: 10px 0 40px;
	margin: 20px auto 0;
	background: #fff;
	font-size: 11px;
	text-align: center;
	border-top: 1px solid #ccc;
}

.page-header h1 {
	font-family: 'American Typewriter', Georgia;
	font-size: 36px;
	padding: 0 20px 20px;
	text-shadow: 1px 1px 1px rgba(204,0,0,0.2);
	color: #a00;
}

hr.clear {
	border: 0;
	height: 1px;
}

form#new_account fieldset {
	background: #fafafa;
	margin: 0 0 20px;
	border: 0;
	border-top: 2px solid #000;
	border-bottom: 1px solid #d4d4d4;
}

.example {
	display: none;
}

.field > div.withExample {
	margin-left: 120px;
	padding-top: 2px;
	display: block;
}

form#new_account legend {
	background: #fff;
	padding: 0px 4px;
	position: relative;
	font-weight: bold;
	left: -4px;
	font-size: 15px;
	
	margin-left: 10px;
}

form#new_account input {
	font-size: 17px;
}

form#new_account select {
	font-size: 16px;
}

form#new_account label {
	font-size: 12px;
	text-align: right;
	padding-right: 10px;
	width: 110px;
	padding-top: 0;
	top: 6px;
	position: relative;
}

form#new_account .form-action {
	padding: 0 16px;
}

form#new_account button {
	background: #c33;
	font-size: 19px;
	border: 1px solid #a00;
	-webkit-border-radius: 8px;
	padding: 6px 10px;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	font-family: 'American Typewriter', Georgia;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(153,0,0,0.6);
}

form#new_account .field {
	border: 0;
}

form#new_account .field > p {
	margin-left: 120px;
}

form#new_account .example {
	font-size: 16px;
	padding: 5px 4px;
	color: #b4b4b4;
}

form#new_account .checkbox {
	background: transparent;
	padding: 10px 20px;
}

form#new_account .checkbox input {
	margin-right: 4px;
}

em.highlight {
	background: #ffa;
}

p.more {
	padding: 6px 20px 20px 10px;
	max-width: 500px;
	line-height: 17px;
}


.invite_code p.more {
	padding-bottom: 0;
}

.ic-field {
	margin: 10px;
}

/* @group Domain Field */

form#new_account .domain p {
	color: #888;
	font-size: 19px;
	padding: 20px 10px 10px;
}

form#new_account .domain input {
	margin: 0 4px;
}

.account-domain p.more {
	padding-bottom: 0;
}

/* @end */

/* @group Error Handling */

.fieldWithErrors,
.fieldWithNoErrors {
	display: inline;
}

body#signup .bigError {
	background: #ffa url(../images/!.png) no-repeat 20px center;
	padding: 10px 10px 10px 70px;
	border: 1px solid #ca0;
	margin-bottom: 20px;
	-webkit-border-radius: 8px;
}

body#signup .bigError p {
	max-width: 500px;
	font-size: 15px;
	line-height: 18px;
}

form#new_account .hasErrors {
	background: #fffde5;
	padding: 10px;
	margin: 10px 0;
	-webkit-border-radius: 8px;
	border: 1px solid #eecccc;
}

form#new_account .field.hasErrors {
	padding: 10px 0;
	margin-top: 0;
}

.account-domain > ul.form-errors,
.invite_code > ul.form-errors,
.terms_of_service > ul.form-errors {
	padding: 2px 10px 6px;
	margin-left: 10px;
	margin: 10px 0 10px 10px;
}

form#new_account .hasErrors .domain p {
	padding-top: 10px;
}

/* @end */