/* @override http://practical.tt.local.practical.cc:3000/stylesheets/trackables.css */

#trackables.index .bd {
	padding: 10px;
}

#trackables.index .trackable {
	padding: 10px 10px 0;
	position: relative;
}

#trackables.index .trackable.first {
	padding-top: 10px;
}

#trackables.index .trackable hr.trackable-divider {
	clear: both;
	height: 10px;
	border-bottom: 1px solid #d4d4d4;
}

#trackables.index .trackable h3 {
	font-size: 17px;
}

#trackables.index .trackable h4 {
	font-size: 13px;
	font-weight: bold;
	padding-top: 2px;
	color: #888;
}

#trackables.index .trackable .nickname {
	font-size: 13px;
	color: #666;
}

#trackables.index .trackable .img {
	float: left;
	margin-right: 16px;
}

#trackables.index .trackable .actions {
	position: absolute;
	left: -30px;
	top: 10px;
	background: #fff;
	padding: 10px;
	width: 20px;
	text-align: right;
	font-size: 11px;
	display: none;
}

.workspace-content, table.frame, table.frame .sidebar {
	min-height: 400px !important;
}

.sidebar .guide {
	padding: 10px 20px;
}

.sidebar .guide h2 {
	font-size: 17px;
	font-weight: 500;
	margin-bottom: 4px;
	font-family: 'American Typewriter', Georgia;
}

.sidebar .guide p {
	font-size: 11px;
	line-height: 15px;
	margin: 6px 0 12px;
}

#trackables.index .trackable.hover .actions {
	display: block;
}

#trackables.new .bd {
	padding: 0 20px 0 10px;
}

#trackables.new .field {
	border: 0;
}

#trackables.new .field + .field {
	border-top: 1px solid #ccc;
}

#trackables.new .field label {
	text-align: right;
	padding-right: 10px;
	width: 70px;
	font-weight: bold;
	padding-top: 6px;
}

#trackables.new .field > p {
	margin-left: 90px;
}

#trackables.new .field > p.info {
	max-width: 500px;
}

#trackables.new form input {
	font-size: 17px;
}

#trackables.new fieldset {
	padding: 10px 20px;
	background: #faf6d6;
	border: 0;
	-webkit-border-radius: 8px;
}

#trackables.new .form-action {
	text-align: right;
	padding: 0 10px 40px;
}

#trackables.new .form-errors {
	margin-left: 90px;
	border-top: 1px solid #999;
	padding-top: 8px;
}

#trackables.new .form-action button span {
	display: block;
	padding: 6px 10px 6px 32px;
	background: url(../images/plus-16-green.png) no-repeat 10px center;
}