/* @override http://practical.ticktock.local:3000/stylesheets/trackables.css */

#trackables .ws-main {
	min-height: 300px;
}

#trackables.index .trackable {
	padding: 10px;
	background: #f5f5f5;
	margin-bottom: 10px;
}

#trackables.index .trackable .img {
	float: left;
	margin-right: 10px;
}

.trackable-editor fieldset {
	background: #f5f5f5;
	margin-bottom: 10px;
	padding: 10px;
	border: 0;
}

.trackable-editor .field {
	border: 0;
}

.trackable-editor .field + .field {
	border-top: 1px solid #ccc;
}

.trackable-editor label {
	font-weight: bold;
	width: 80px;
	color: #000;
}

.trackable-editor .field p {
	margin-left: 80px;
}

.state_chooser .state + .state {
	margin-top: 4px;
}

.state_chooser .state p {
	margin-left: 30px;
}

.state_chooser .state p.top {
	margin-left: 0;
}

.state_chooser .state span {
	float: left;
	width: 30px;
	text-align: center;
}

.state_chooser .state strong {
	font-weight: bold;
}

.state_chooser .state p.caption {
	font-size: 11px;
	padding-top: 2px;
	color: #666;
}