
<div class="nine left">
<% @events.each do |event| %>
<div>
	<%= event.body %>
</div>
<% end %>

<%= will_paginate @events %>
</div>

<div class="three right">
<%= render :partial => "/shared/quick_entry" %>
</div>

<hr class="clear">