<h1>Events</h1>

<div class="eight left">
	<div id="events_list">

	<%- @events.group_by(&:date).each do |date, events_for_day| -%>
	<h3 class="date_header"><%= date.to_s(:long) %></h3>

	<div id="events_for_<%= date.strftime("%Y_%m_%d") %>" class="events_for_day">
	<%= render :partial => 'list_item', :collection => events_for_day, :as => :event %>
	</div>

	<%- end -%>
	</div>
</div>

<div class="four right">
<%= "Date range here" %>
</div>

<hr class="clear">