<h1>EventImports#new</h1>
<p>Find me in app/views/event_imports/new.html.erb</p>

<%= error_messages_for :event_import %>

<% form_for @event_import, :html => {:multipart => true} do |f| %>
	
<p class="field">
	<%= f.label :source, "Upload CSV file" %>
	<%= f.file_field :source %>
</p>

<p class="actions">
	<button type="submit">Upload and import</button>
</p>

<% end %>