<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>TickTock &mdash; Please sign in</title>
	
	<%= sprockets_include_tag %>
	<%= stylesheet_link_tag "login" %>
</head>
<body>
	
<div id="container">
	<%= yield :layout %>
</div>

</body>
</html>